
<button class="Weapon-Container">
    <article class="weapon">
        <div class = "weaponPic">
            <img src= {link}>
        </div>
        <div class="weapon-content">
            <p class="weapon-Name"> {name} </p>
            <p class="weapon-Dice"> Damage Roll: ({nDice} X d{dice}) dice  </p>	
        </div>
    </article>

</button>
