
<main class="attackPageBody" >
		
		<article class = "Character-Creation-Container">
			
			<div class = "Character-Name">
				<label for="Character-name-input"> Character Name: </label>
				<textarea id="Character-name-input"></textarea>
			</div>
			
			<div class = "Weapon-Proficiency">
				<label for"Weapon-Proficiency-Input"> Weapon Proficiency: </label>
				<textarea id = "Weapon-Proficiency-Input"></textarea>
			</div>

			<div class = "Ability-Score">
				<label for"Ability-Score-Input"> Ability Score: </label>
				<textarea id = "Weapon-Score-Input"></textarea>
			</div>

            <div class = "weapons-container">
                {{#each weapons}}
                    {{>weapon}}
                {{/each}}
            </div>
            
			<button class = "Generate-Character">
				<h> Generate </h>
			</button>


		</article>

        <article class = "page-Links"  >
            <h id = "Character-Links-Title"> Characters:</h>

            

        </article>
	</main>	