body {
  font-family: Times New Roman, Helvetica, sans-serif;
  font-size: 20;
  margin: 0;
  background-color: rgb(238, 238, 238);
}

a{
    text-decoration: none;
}

article.Character-Creation-Container{	
	margin:50px 10%;
	height: 50%;
	display: flex;
	
	background-color: rgb(227, 195, 240);
	flex-wrap: wrap;	
}

article.weapon{	
	display: flex;
	flex-flow: column wrap;
	
	width: 90%;
	height: 90%;
	max-height: 425px;
	position: relative;
/*	justify-content:center;*/
}

div.weapon-content{
	justify-content:bottom;
}

div.character-name{
	width: 30%;
	margin: 20px;
	
}

div.weapon-proficiency{
	width: 30%;
	margin: 20px;
	
}

div.ability-score{
	width: 25%;
	margin: 20px;
	
}

button div.weaponpic{

	/*justify-content: center;*/

}
p.weapon-name{

	flex: 0 1 50%;
	display: flex;
	justify-content: top;

}

button.generate-character{
/*	flex: 0 1 28%;
	display: flex;

	margin: 2px;
	padding: 20px;
	background-color: #fff;

	width: 85%;
	height: 10%;
	justify-content: bottom;*/
  margin: 20px;
  padding: 2px;
  width: 20%;
  background-color: rgb(88, 8, 153);
  font-size: 200%;
  color: white;
  


}


p.weapon-dice{

	flex: 0 1 28%;
	display: flex;
	margin: 2px;
	background-color: #fff;

}
button.weapon-container{
	
  margin: 20px;
  padding: 2px;
  background-color: #fff;
  width: 20%;
  font-size: 18px;
  color: rgb(88, 8, 153);
  border: 3px solid rgb(88, 8, 153);
  margin: 20px;
  padding: 2px;

}
button.weapon-container:hover{
	
	border: 10px solid rgb(88, 8, 153);;
    outline: none;
}

button.generate-character:hover{
	outline: none;
	background-color: white;
	color: rgb(88, 8, 153);;
}

/*
 *.twit-container {
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
}

.twit {
  flex: 0 1 28%;
  display: flex;
  margin: 2px;
  padding: 20px;
  border: 1px solid #dadada;
  border-radius: 2px;
  background-color: #fff;
}

 * /
