body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  background-color: #eee;
}

a {
  text-decoration: none;
}

#ownerWeapon{
	
	display: flex;
	flex-flow: column wrap;
	
	width: 90%;
	height: 90%;
	max-height: 425px;
	position: relative;

}



