<html>
  <head>

    <meta charset="utf-8">
   <title>Attack Page</title>
	
	<link href="https://fonts.googleapis.com/css?family=Niconne&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css" media="screen">
	<link rel="stylesheet" href="./attack.css" media="screen">


	<script type="text/javascript" src="attack.json"></script>
	<script type="text/javascript" src="attack.js"></script>
	</head>
	<body>
	</body>
</html>
